/*GIPHY CSS*/

body {
    background: url(http://wlex.images.worldnow.com/images/13987262_G.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1024px;
}

.buttonArea {
    margin-top: 20px;
}

.navbar {
    background: transparent;
    background: none;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.row {
    margin-top: 50px;
}

.gifArea {
    margin-top: 40px;
}

a,
h2 {
    color: white;
    font-family: 'Anonymous Pro', monospace;
    font-size: 24px;
}

#GIPHippopotamus {
    color: white;
    font-size: 30px;
}

button {
    margin: 5px;
    font-family: 'Anonymous Pro', monospace;
}

#gifDivs {
    float: left;
    margin: 10px;
    clear: all;
    background-color: white;
}